.keizai {
	margin: 50px auto;
	width: 100px;
	text-align: center;
	font-size: 300%;
	animation: 1s linear infinite kaiten;
}

.description {
	text-align: center;
	padding-top: 1em;
}

.mawatteru {
	animation: 1s linear infinite kaiten;
}

@for $i from 2 to 10 {
	.mawatteru-#{$i} {
		animation: #{1 - ($i - 1) * 0.1}s linear infinite kaiten;
	}
}

.motto-mawatteru {
	animation: .1s linear infinite kaiten;
}

.mottomotto-mawatteru {
	animation: .01s linear infinite kaiten;
}

@keyframes kaiten {
	0% {
		transform: rotate3d(0, 0, 1, 0deg);
	}
	100% {
		transform: rotate3d(0, 0, 1, 360deg);
	}
}

.teitai {
	animation-play-state: paused;
}
